In [6]:
%reload_ext autoreload
%autoreload 2

import os

os.chdir(f"/home/{os.getlogin()}/watttime-python-client-aer-algo")

import math
import numpy as np
import pandas as pd
import datetime
from pytz import UTC, timezone
import seaborn as sns
from datetime import datetime, timedelta
import concurrent.futures

from watttime import WattTimeForecast, WattTimeHistorical, RecalculatingWattTimeOptimizer

import data.s3 as s3u
import evaluation.eval_framework as efu
from plotnine import *

username = os.getenv("WATTTIME_USER")
password = os.getenv("WATTTIME_PASSWORD")

actual_data = WattTimeHistorical(username, password)
hist_data = WattTimeForecast(username, password)

s3 = s3u.s3_utils()

In [9]:
full_caiso = s3.load_parquetdataframe("complete_2023_forecast_history/CAISO_NORTH.parquet")

In [11]:
full_caiso.query("generated_at == '2023-01-01 00:00:00+00:00'")

/tmp/ipykernel_8575/4145362847.py:1: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns, UTC] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.

                    point_time  value              generated_at       region
0    2023-01-01T00:00:00+00:00  992.0 2023-01-01 00:00:00+00:00  CAISO_NORTH
1    2023-01-01T00:05:00+00:00  992.0 2023-01-01 00:00:00+00:00  CAISO_NORTH
2    2023-01-01T00:10:00+00:00  991.7 2023-01-01 00:00:00+00:00  CAISO_NORTH
3    2023-01-01T00:15:00+00:00  990.0 2023-01-01 00:00:00+00:00  CAISO_NORTH
4    2023-01-01T00:20:00+00:00  987.4 2023-01-01 00:00:00+00:00  CAISO_NORTH
..                         ...    ...                       ...          ...
283  2023-01-01T23:35:00+00:00  942.3 2023-01-01 00:00:00+00:00  CAISO_NORTH
284  2023-01-01T23:40:00+00:00  943.1 2023-01-01 00:00:00+00:00  CAISO_NORTH
285  2023-01-01T23:45:00+00:00  944.1 2023-01-01 00:00:00+00:00  CAISO_NORTH
286  2023-01-01T23:50:00+00:00  945.1 2023-01-01 00:00:00+00:00  CAISO_NORTH
287  2023-01-01T23:55:00+00:00  945.0 2023-01-01 00:00:00+00:00  CAISO_NORTH

[288 rows x 4 columns]

In [ ]:
def get_forecast_seqeunce(full_forecast, start_time, )